# @pencil-engine:registry=//${CI_SERVER_HOST}:${CI_SERVER_PORT}/v4/projects/74257705/packages/npm/
# //${CI_SERVER_HOST}:${CI_SERVER_PORT}/v4/projects/74257705/packages/npm/:_authToken=${CI_JOB_TOKEN}